.adventures {
  background-color: $hero-color;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 1350px;
    left: 0px;
    width: 255px;
    height: 255px;
    border-radius: 420px;
    opacity: 0.6;
    background: $acent-color;
    filter: blur(100px);

    @media screen and (min-width: 728px) {
      top: 1400px;
      width: 499px;
      border-radius: 400px;
    }

    @media screen and (min-width: 1246px) {
      top: 1200px;
      left: 300px;
      border-radius: 415px;
      width: 414px;
      height: 414px;
    }
  }

  &__style {
    background: linear-gradient(92deg, #bec7c2 41.03%, #a1b5ba 90.31%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__text {
    color: $logo-color;
    font-family: 'DM Sans';
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -1.08px;
    width: 100%;
    margin-bottom: 40px;

    @media screen and (min-width: 736px) {
      font-size: 32px;
      width: 514px;
    }
  }

  &__list {
    display: flex;
    gap: 14px;

    @media screen and (min-width: 736px) {
      justify-content: end;
    }
  }

  &__subtext {
    color: $logo-color;
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.28px;
    width: 100%;

    @media screen and (min-width: 736px) {
      font-size: 16px;
      width: 183px;
    }

    @media screen and (min-width: 1248px) {
      // font-size: 16px;
      // width: 183px;
    }
  }

  &__groupe {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 24px;

    @media screen and (min-width: 736px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__element:last-child {
    @media screen and (min-width: 736px) {
      transform: translateY(60%);
    }

    @media screen and (min-width: 1248px) {
      transform: translateY(0);
      transform: translateX(130%);
    }
  }

  &__element:nth-child(2) {
    @media screen and (min-width: 1248px) {
      order: -1;
      transform: translateY(30%);
    }
  }

  &__kitchen {
    width: 335px;
    height: 524px;
    margin-top: 40px;

    @media screen and (min-width: 736px) {
      width: 704px;
      height: 631px;
    }
  }

  &__sofa {
    width: 335px;
    height: 289px;

    @media screen and (min-width: 736px) {
      width: 308px;
      height: 289px;
    }
  }

  &__yacht {
    width: 260px;
    height: 244px;
    border-radius: 27px;
  }

  &__row {
    display: flex;
    align-items: flex-end;
  }

  &__title {
    color: $logo-color;
    font-family: 'DM Sans';
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -1.62px;
    width: 310px;
    transform: translateY(-100%);

    @media screen and (min-width: 736px) {
      width: 641px;
      font-size: 70px;
      transform: translateY(30%);
    }

    @media screen and (min-width: 1248px) {
      width: 882px;
      font-size: 100px;
      margin-left: 180px;
      transform: translateY(-30%);
    }
  }

  &__button {
    background-color: transparent;
    padding: 14px 28px;
    color: $logo-color;
    border-radius: 60px;
    border: 1px solid var(--white, #f6f5ef);
    transform: translateY(-180%);

    @media screen and (min-width: 736px) {
      transform: none;
      margin-top: 100px;
    }

    @media screen and (min-width: 1248px) {
      transform: translateY(-260%);
      margin-top: none;
      margin-left: 180px;
    }

    &:hover,
    &:focus {
      color: $acent-color;
      border-color: $acent-color;
    }
  }
}

// .svg {
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   z-index: 1;
// }
