.header {
  padding-top: 27px;
  padding-bottom: 28px;
  background-color: $hero-color;
  stroke-width: 1px;
  stroke: rgba(246, 245, 239, 0.2);

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__groupe {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 18px;
    height: 18px;
    color: $logo-color;
  }

  &__icon {
    height: 18px;
    width: 18px;
    fill: $logo-color;
  }

  &__link {
    width: 146px;
    height: 10px;
    fill: $logo-color;
  }

  &__text {
    color: $logo-color;
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 1.65;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    width: 146px;
    height: 10px;
  }

  &__list {
    display: flex;
    gap: 24px;
    display: none;

    @media screen and (min-width: 736px) {
      display: flex;
    }
  }

  &__button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 736px) {
      display: none;
    }
  }

  &__menu {
    width: 24px;
    height: 24px;
    fill: $logo-color;
  }
}

.menu {
  width: 100%;
  height: 100%;
  padding: 24px 20px 0px 20px;
  position: fixed;
  background: $hero-color;
  top: 0;
  left: 0;
  z-index: 6;
  opacity: 1;

  &__close {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 24px;
    right: 20px;
  }

  &__icon {
    width: 50px;
    height: 50px;
    color: red;
  }

  &__groupe {
    border-bottom: 4px;
    border-color: rgba(246, 245, 239, 0.2);
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    margin-top: 140px;
  }

  &__link {
    color: $logo-color;
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}