.hero {
    padding: 40px 0px 80px 0px;
    background: #11131f;

    @media screen and (min-width: 728px) {
        padding: 64px 0px 100px 0px;
    }

    @media screen and (min-width: 1246px) {
        padding: 64px 0px 164px 0px;
    }

    .container {
        position: relative;
        z-index: 5;

        &::before {
            content: "";
            position: absolute;
            top: 400px;
            left: 0px;
            width: 279px;
            height: 279px;
            border-radius: 279px;
            opacity: 0.6;
            background: $acent-color;
            filter: blur(100px);

            @media screen and (max-width: 361px) {
                width: 100%;
            }

            @media screen and (min-width: 728px) {
                top: 480px;
                width: 414px;
                height: 414px;
                border-radius: 414px;
                opacity: 0.9;
            }

            @media screen and (min-width: 1246px) {
                top: 150px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 400px;
            left: 0px;
            width: 279px;
            height: 279px;
            border-radius: 279px;
            opacity: 0.9;
            background: $acent-color;
            filter: blur(100px);
            z-index: -3;

            @media screen and (max-width: 361px) {
                width: 100%;
            }
            
            @media screen and (min-width: 728px) {
                left: 50px;
                width: 316.907px;
                height: 316.908px;
                border-radius: 316.908px;
                opacity: 0.3;
            }
            
            @media screen and (min-width: 1246px) {
                top: 150px;
                left: 150px;
                width: 316px;
                height: 316px;
                border-radius: 316px;
            }
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;

        @media screen and (min-width: 1246px) {
            flex-direction: row;
        }
    }

    &__item {
        position: relative;
    }

    &__items>&__item:nth-child(1) {
        padding: 0px 0px 0px 0px;

        @media screen and (min-width: 1246px) {
            order: 2;
            padding: 68px 0px 0px 0px;
        }
    }

    &__title {
        width: 100%;
        color: $logo-color; 
        font-size: 36px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -1.62px; 

        @media screen and (min-width: 728px) {
            font-size: 60px;
            letter-spacing: -2.7px; 
        }

        @media screen and (min-width: 1246px) {
            width: 554px;
        }

        .hero__span {
            background: var(--linear-green, linear-gradient(92deg, #BEC7C2 41.03%, #A1B5BA 90.31%));;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-style: italic;
        }
    }

    &__text {
        width: 100%;
        color: $logo-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -0.28px;
        margin: 14px 0px 24px 0px; 

        @media screen and (min-width: 728px) {
            width: 539px;
            font-size: 16px;
            letter-spacing: -0.32px; 
            margin: 16px 0px 32px 0px;
        }

        @media screen and (min-width: 1246px) {

        }
    }

    &__items-btn {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }


    &__button {
        width: 100%;
        border: none;
        border-radius: 60px;
        background: $acent-color;
        padding: 14px 28px;
        color: $logo-color;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: -0.63px;
        transition: 250ms;

        @media screen and (min-width: 728px) {
            font-size: 18px;
            letter-spacing: -0.81px; 
        }

        &:hover, &:focus {

            outline: none;
        }
    }

    &__items-btn > &__item-btn:nth-child(2) > &__button {
        outline: 1px solid $logo-color;
        background: transparent;
        transition: 250ms ease-in-out;

        &:hover, &:focus {
            background: transparent;
            color: $acent-color;

        }
    }

    &__items>&__item:nth-child(2) {
        padding: 24px 24px 28px 24px;
        background-color: #A1B5BA;
        border-radius: 25px;
        border-bottom-right-radius: 0px;
        position: relative;
        margin: 0px 0px 19px 0px;

        @media screen and (min-width: 728px) {
            padding: 32px 32px 38px 32px;
            width: 426px; 
            margin: 0px 0px 25.7px 0px;
        }

        @media screen and (min-width: 1246px) {
            order: 1;
        }

        
        &::after {
            content: "";
            position: absolute;
            bottom: -4.57%;
            right: 0;
            width: 65%;
            height: 4.57%;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;

        }

    }

     &__item:last-child{
            &::after{
                content:"";
                width: 100px;
                height: 20px;
              background-color: #A1B5BA;
                display: block;
            }
        }

    &__clients {
        display: flex;
        position: relative;
    }

    &__client {
        z-index: 9;
    }

    &__clients>&__client:nth-child(2) {
        position: absolute;
        top: 0px;
        left: 41px;  
        z-index: 8;
    }

    &__clients>&__client:nth-child(3) {
        position: absolute;
        top: 0px;
        left: 85px;
        z-index: 7;
    }

    &__icon-client {
        width: 48px; 
        border-radius: 48px;
        outline: 2px solid $acent-color;

        @media screen and (min-width: 728px) {
            width: 56px;
            border-radius: 56px;
        }

        .hero__clients>.hero__client:nth-child(2)>& {
            position: absolute;
            top: 0px;
            left: 60px;  
        }
    
        .hero__clients>.hero__client:nth-child(3)>& {
            position: absolute;
            top: 0px;
            left: 60px;
        }
    }

    &__client-text {

        font-size: 14px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.56px;
        text-transform: uppercase;
        margin: 13px 0px 0px 0px;

        @media screen and (min-width: 728px ) {
            margin: 11px 0px 0px 0px;
        }
    }

    &__img {
        width: 100%; 
        margin: 52px 0px 14px 0px;

        @media screen and (min-width: 728px) {
            margin: 111px 0px 22px 0px;
        }
    }

    &__price {
        display: flex;
        gap: 14px;
        align-items: center;

        @media screen and (max-width: 200px) {
            flex-wrap: wrap;
        }
    }

    &__price-title {

        font-size: 48px;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: -2.16px;
        text-transform: uppercase; 

        @media screen and (min-width: 728px) {
            font-size: 60px;
            letter-spacing: -2.7px; 
        }
    }

    &__price-text {
        width: 100%;

        font-size: 14px;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: -0.63px;

        @media screen and (min-width: 728px) {
            width: 208px;
            font-size: 18px;
            line-height: 1.4; 
            letter-spacing: -0.81px; 
        }
    }


    &__img-man {
        border-radius: 24px;
        width: 133px;
        position: absolute;
        top: 35px;
        right: -12px;

        @media screen and (min-width: 728px) {
            width: 233px;
            right: -146px;
        }
        @media screen and (min-width: 1246px) {
            right: -112px;
        }
    }
}