.scroll {
    padding: 43px 0px 0px 0px;

    @media screen and (min-width: 728px) {
        padding: 45px 0px 0px 0px;
    }

    @media screen and (min-width: 1246px) {
        padding: 64px 0px 0px 0px;
    }



    &__link {
        outline: none;
        display: block;
        width: 44px;
        height: 44px;
        transition: 250ms;
        
        &:hover, &:focus {
            outline: none;
            .scroll__svg {
                transform: scale(1.1);
            }
        }

        @media screen and (min-width: 728px) {
            width: 68px;
            height: 68px;
        }
    }

    &__img {
        display: block;
        width: 44px;
        height: 44px;
        border: none;
        outline: none;
        transition: 250ms;
       

        @media screen and (min-width: 728px) {
            width: 68px;
            height: 68px;
        }
    }

}