.scroll {
    padding: 43px 0px 0px 0px;
    background: #11131f;
    @media screen and (min-width: 736px) {
        padding: 45px 0px 0px 0px;
    }

    @media screen and (min-width: 1248px) {
        padding: 64px 0px 0px 0px;
    }                   
    &__link {
        outline: none;
        display: block;
        width: 44px;
        height: 44px;
        transition: 250ms;
         margin: 0px 0px 0px auto;
        
        &:hover, &:focus {
            outline: none;
            .scroll__svg {
                transform: scale(1.1);
            }
        }

        @media screen and (min-width: 736px) {
            width: 68px;
            height: 68px;
        }
    }

    &__svg {
        display: block;
        width: 44px;
        height: 44px;
        border: none;
        outline: none;
        transition: 250ms;
        opacity: 1;
       

        @media screen and (min-width: 736px) {
            width: 68px;
            height: 68px;
        }
    }

}