.boat {
  padding-top: 164px;
  padding-bottom: 164px;
  background-color: $hero-color;

  &__img {
    width: 322px;
    height: 268px;
    flex-shrink: 0;
  }

&__box {
  display: flex;
  align-items: center;
  gap: 147px;
  margin-top: 32px;
}
  &__title {
    color: $logo-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 0.83;
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }

  &__text {
    color: $logo-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 118%;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    opacity: 0.5;
  }
}

.info {
  &__text {
    color: $logo-color;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    
  }

  &__span {
    display: inline-block;  
    min-width: 100px;      
    margin-right: 32px;     
  }
}