ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

h1, h2, h3, p {
  margin: 0;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 8px;
  outline: 1px solid rgb(255, 0, 0);
}
@media screen and (min-width: 355px) {
  .container {
    width: 355px;
  }
}
@media screen and (min-width: 736px) {
  .container {
    width: 736px;
  }
}
@media screen and (min-width: 1248px) {
  .container {
    width: 1248px;
  }
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 8px;
  outline: 1px solid rgb(255, 0, 0);
}
@media screen and (min-width: 355px) {
  .container {
    width: 355px;
  }
}
@media screen and (min-width: 736px) {
  .container {
    width: 736px;
  }
}
@media screen and (min-width: 1248px) {
  .container {
    width: 1248px;
  }
}

body {
  font-family: "DM Sans", sans-serif;
}

.header {
  padding-top: 27px;
  padding-bottom: 28px;
  background-color: #11131F;
  stroke-width: 1px;
  stroke: rgba(246, 245, 239, 0.2);
}
.header__box {
  display: flex;
  justify-content: space-between;
}
.header__groupe {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 18px;
  height: 18px;
  color: #F6F5EF;
}
.header__icon {
  height: 18px;
  width: 18px;
  fill: #F6F5EF;
}
.header__link {
  width: 146px;
  height: 10px;
  fill: #F6F5EF;
}
.header__text {
  color: #F6F5EF;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 1.65;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 146px;
  height: 10px;
}
.header__list {
  display: flex;
  gap: 24px;
  display: none;
}
@media screen and (min-width: 736px) {
  .header__list {
    display: flex;
  }
}
.header__button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 736px) {
  .header__button {
    display: none;
  }
}
.header__menu {
  width: 24px;
  height: 24px;
  fill: #F6F5EF;
}

.hero {
  padding: 40px 0px 80px 0px;
}
.hero .container {
  position: relative;
  z-index: 5;
}
.hero .container::before {
  content: "";
  position: absolute;
  top: 400px;
  left: 0px;
  width: 279px;
  height: 279px;
  border-radius: 279px;
  opacity: 0.6;
  background: #93ABAE;
  filter: blur(100px);
}
.hero .container::after {
  content: "";
  position: absolute;
  top: 400px;
  left: 0px;
  width: 279px;
  height: 279px;
  border-radius: 279px;
  opacity: 0.9;
  background: #93ABAE;
  filter: blur(100px);
  z-index: -3;
}
.hero__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
.hero__item {
  position: relative;
}
.hero__items > .hero__item:nth-child(1) {
  padding: 0px 0px 0px 0px;
}
.hero__title {
  width: 100%;
  color: #F6F5EF;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.62px;
}
.hero__title .hero__span {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
}
.hero__text {
  width: 100%;
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.28px;
  margin: 14px 0px 24px 0px;
}
.hero__items-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.hero__button {
  width: 100%;
  border: none;
  border-radius: 60px;
  background: #93ABAE;
  padding: 14px 28px;
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.63px;
  transition: 250ms;
}
.hero__button:hover, .hero__button:focus {
  outline: none;
}
.hero__items-btn > .hero__item-btn:nth-child(2) > .hero__button {
  outline: 1px solid #F6F5EF;
  background: transparent;
  transition: 250ms ease-in-out;
}
.hero__items-btn > .hero__item-btn:nth-child(2) > .hero__button:hover, .hero__items-btn > .hero__item-btn:nth-child(2) > .hero__button:focus {
  background: transparent;
  color: #93ABAE;
}
.hero__items > .hero__item:nth-child(2) {
  padding: 24px 24px 28px 24px;
  background-color: #A1B5BA;
  border-radius: 25px;
  border-bottom-right-radius: 0px;
  position: relative;
  margin: 0px 0px 19px 0px;
}
.hero__items > .hero__item:nth-child(2)::after {
  content: "";
  position: absolute;
  bottom: -4.57%;
  right: 0;
  width: 65%;
  height: 4.57%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.hero__clients {
  display: flex;
  position: relative;
}
.hero__client {
  z-index: 9;
}
.hero__clients > .hero__client:nth-child(2) {
  position: absolute;
  top: 0px;
  left: 41px;
  z-index: 8;
}
.hero__clients > .hero__client:nth-child(3) {
  position: absolute;
  top: 0px;
  left: 85px;
  z-index: 7;
}
.hero__icon-client {
  width: 48px;
  border-radius: 48px;
  outline: 2px solid #93ABAE;
}
.hero__clients > .hero__client:nth-child(2) > .hero__icon-client {
  position: absolute;
  top: 0px;
  left: 60px;
}
.hero__clients > .hero__client:nth-child(3) > .hero__icon-client {
  position: absolute;
  top: 0px;
  left: 60px;
}
.hero__client-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin: 13px 0px 0px 0px;
}
.hero__img {
  width: 100%;
  margin: 52px 0px 14px 0px;
}
.hero__price {
  display: flex;
  gap: 14px;
  align-items: center;
}
.hero__price-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -2.16px;
  text-transform: uppercase;
}
.hero__price-text {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.63px;
}
.hero__img-man {
  border-radius: 24px;
  width: 133px;
  position: absolute;
  top: 35px;
  right: -12px;
}

.adventures {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #11131F;
  position: relative;
}
.adventures__text {
  color: #F6F5EF;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.08px;
  width: 335px;
  margin-bottom: 40px;
}
@media screen and (min-width: 736px) {
  .adventures__text {
    font-size: 32px;
    width: 514px;
  }
}
.adventures__list {
  display: flex;
  gap: 14px;
}
@media screen and (min-width: 736px) {
  .adventures__list {
    justify-content: end;
  }
}
.adventures__subtext {
  color: #F6F5EF;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.28px;
  width: 160px;
}
@media screen and (min-width: 736px) {
  .adventures__subtext {
    font-size: 16px;
    width: 183px;
  }
}
.adventures__groupe {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.adventures__kitchen {
  width: 335px;
  height: 524px;
  margin-top: 40px;
}
@media screen and (min-width: 736px) {
  .adventures__kitchen {
    width: 704px;
    height: 631px;
  }
}
.adventures__sofa {
  width: 335px;
  height: 289px;
}
.adventures__yacht {
  width: 260px;
  height: 244px;
  border-radius: 27px;
}
.adventures__title {
  color: #F6F5EF;
  font-family: "DM Sans";
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.62px;
  width: 310px;
}
.adventures__button {
  background-color: transparent;
  padding: 14px 28px;
  color: #F6F5EF;
  border-radius: 60px;
  border: 1px solid var(--white, #f6f5ef);
  margin-top: 40px;
}

.svg {
  position: absolute;
  left: 0;
  bottom: 0;
}

.yacht {
  background: #11131f;
  padding: 60px 0;
}
.yacht__content {
  display: flex;
  gap: 40px;
}
.yacht__left {
  flex: 1;
}
.yacht__right {
  width: 400px;
}
.yacht__title {
  width: 100%;
  max-width: 271px;
  font-size: 36px;
  color: #F6F5EF;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.027em;
  margin-bottom: 64px;
}
.yacht__title span {
  display: block;
  font-weight: 700;
}
@media screen and (min-width: 735px) {
  .yacht__title {
    font-size: 60px;
    max-width: 282px;
  }
}
.yacht__img {
  width: 282px;
  height: 191px;
  border-radius: 8px;
}
.yacht__list {
  list-style: none;
  padding: 0;
  margin: 0 0 64px;
}
.yacht__item {
  margin-bottom: 15px;
}
.yacht__item:last-child {
  margin-bottom: 0;
}
.yacht__input {
  width: 100%;
  padding: 12px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  color: #F6F5EF;
  font-size: 16px;
}
.yacht__textarea {
  min-height: 100px;
  resize: vertical;
}
.yacht__btn {
  background: #11131F;
  color: #F6F5EF;
  outline: 1px solid white;
  border: none;
  padding-top: 14px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 14px;
  border-radius: 60px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}
@media (max-width: 768px) {
  .yacht__content {
    flex-direction: column;
  }
  .yacht__right {
    width: 100%;
  }
}

.card {
  padding-bottom: 164px;
}
.card .card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  justify-content: center;
  align-items: flex-end;
}
.card__item {
  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;
}
.card__diving {
  width: 335px;
  height: 335px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 736px) {
  .card__diving {
    width: 704px;
    height: 632px;
  }
}
@media screen and (min-width: 1248px) {
  .card__diving {
    width: 712px;
    height: 632px;
  }
}
.card__fishing {
  width: 335px;
  height: 335px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 736px) {
  .card__fishing {
    width: 400px;
    height: 389px;
  }
}
@media screen and (min-width: 1248px) {
  .card__fishing {
    width: 440px;
    height: 428px;
  }
}
.card__sunbathing {
  width: 335px;
  height: 335px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 736px) {
  .card__sunbathing {
    width: 380px;
    height: 352px;
  }
}
@media screen and (min-width: 1248px) {
  .card__sunbathing {
    width: 436px;
    height: 352px;
  }
}
.card__text {
  color: #11131F;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.81px;
}

@media screen and (min-width: 736px) and (max-width: 1248px) {
  .card__list {
    display: flex;
  }
  .card__item:nth-child(2) {
    margin-left: auto;
  }
  .card__item:nth-child(3) {
    margin-right: auto;
  }
}
.team {
  background: #11131f;
}
.team .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.team__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 1246px) {
  .team__info {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 728px) {
  .team__info__item:last-child {
    margin-left: auto;
  }
}
@media screen and (min-width: 1246px) {
  .team__info__item:last-child {
    margin-left: 0px;
  }
}
.team__info__title {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.08px;
  color: #F6F5EF;
  color: var(--white, #F6F5EF);
}
@media screen and (min-width: 728px) {
  .team__info__title {
    width: 497px;
    font-size: 32px;
    letter-spacing: -1.44px;
  }
}
.team__info__span {
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.08px;
  background: var(--linear-green, linear-gradient(92deg, #BEC7C2 41.03%, #A1B5BA 90.31%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 728px) {
  .team__info__span {
    font-size: 32px;
    letter-spacing: -1.44px;
  }
}
.team__info__subtitle {
  width: 100%;
  color: #F6F5EF;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 728px) {
  .team__info__subtitle {
    width: 273px;
    font-size: 16px;
    letter-spacing: -0.32px;
  }
}
.team__list {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-color: gray;
  gap: 7px;
  outline: none;
}
.team__item {
  border-radius: 24px;
  background: #1F212D;
  padding: 24px 16px;
  text-align: center;
}
@media screen and (min-width: 728px) {
  .team__item {
    padding: 24px 12px;
  }
}
@media screen and (min-width: 1246px) {
  .team__item {
    padding: 32px;
  }
}
.team__img {
  width: 48px;
  margin: 0px auto;
}
.team__title {
  color: #F6F5EF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.72px;
  margin: 18px 0px 8px 0px;
}
@media screen and (min-width: 728px) {
  .team__title {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.81px;
  }
}
.team__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.24px;
  width: 300px;
  color: rgba(246, 245, 239, 0.5);
}
@media screen and (min-width: 728px) {
  .team__text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.32px;
    width: 320px;
  }
}
.team__list > .team__item:nth-child(2) > .team__text {
  width: 301px;
}
@media screen and (min-width: 728px) {
  .team__list > .team__item:nth-child(2) > .team__text {
    width: 320px;
  }
}
.team__list > .team__item:nth-child(3) > .team__text {
  width: 307px;
}
@media screen and (min-width: 728px) {
  .team__list > .team__item:nth-child(3) > .team__text {
    width: 280px;
  }
}
@media screen and (min-width: 1246px) {
  .team__list > .team__item:nth-child(3) > .team__text {
    width: 320px;
  }
}

.scroll {
  padding: 43px 0px 0px 0px;
}
@media screen and (min-width: 728px) {
  .scroll {
    padding: 45px 0px 0px 0px;
  }
}
@media screen and (min-width: 1246px) {
  .scroll {
    padding: 64px 0px 0px 0px;
  }
}
.scroll__btn {
  outline: none;
  width: 44px;
  height: 44px;
  margin: 0px 0px 0px auto;
  opacity: 0.7;
  background-color: transparent;
  display: block;
  transition: 250ms;
}
.scroll__btn:hover, .scroll__btn:focus {
  outline: none;
}
@media screen and (min-width: 728px) {
  .scroll__btn {
    width: 68px;
    height: 68px;
  }
}
.scroll__link {
  outline: none;
  display: block;
  width: 44px;
  height: 44px;
  transition: 250ms;
}
.scroll__link:hover, .scroll__link:focus {
  outline: none;
}
.scroll__link:hover .scroll__svg, .scroll__link:focus .scroll__svg {
  transform: scale(1.1);
}
@media screen and (min-width: 728px) {
  .scroll__link {
    width: 68px;
    height: 68px;
  }
}
.scroll__svg {
  display: block;
  width: 44px;
  height: 44px;
  border: none;
  outline: none;
  transition: 250ms;
}
@media screen and (min-width: 728px) {
  .scroll__svg {
    width: 68px;
    height: 68px;
  }
}

.footer {
  padding: 40px 0px 54px 0px;
  position: relative;
  background: #11131f;
}
@media screen and (min-width: 728px) {
  .footer {
    padding: 64px 0px 117px 0px;
  }
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  padding: 40px 15px 0px 15px;
}
@media screen and (min-width: 728px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
  }
}
.footer .container::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 335px;
  height: 1px;
  border-top: 1px solid rgba(246, 245, 239, 0.2);
  transition: 250ms;
}
@media screen and (max-width: 335px) {
  .footer .container::before {
    width: 100%;
  }
}
@media screen and (min-width: 728px) {
  .footer .container::before {
    width: 704px;
  }
}
@media screen and (min-width: 1246px) {
  .footer .container::before {
    width: 1216px;
  }
}
.footer .container::after {
  content: "";
  position: absolute;
  bottom: -100px;
  right: 0px;
  width: 100%;
  height: 100px;
  border-radius: 420px;
  opacity: 0.6;
  background: #93ABAE;
  filter: blur(100px);
}
@media screen and (min-width: 728px) {
  .footer .container::after {
    bottom: -130px;
    width: 419px;
  }
}
@media screen and (min-width: 1246px) {
  .footer .container::after {
    right: auto;
    left: 200px;
    border-radius: 415px;
  }
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  transition: 250ms;
  outline: none;
}
.footer__logo-img {
  width: 18px;
  height: 18px;
  transition: 250ms;
}
@media screen and (min-width: 728px) {
  .footer__logo-img {
    width: 23px;
    height: 23px;
  }
}
.footer__logo:hover, .footer__logo:focus {
  color: #93ABAE;
}
.footer__logo:hover .footer__logo-img, .footer__logo:focus .footer__logo-img {
  transform: scale(1.1);
}
@media screen and (min-width: 728px) {
  .footer__logo {
    height: 23px;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.54px;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media screen and (min-width: 728px) {
  .footer__list {
    gap: 24px;
  }
}
@media screen and (min-width: 1246px) {
  .footer__list {
    flex-direction: row;
  }
}
.footer__link {
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  transition: 250ms;
  outline: none;
}
.footer__link:hover, .footer__link:focus {
  color: #93ABAE;
}
.footer__box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__box-text {
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}
.footer__box-list {
  display: flex;
  gap: 14px;
}
@media screen and (min-width: 728px) {
  .footer__box-list {
    gap: 16px;
  }
}
.footer__box-link {
  display: block;
  transition: 250ms;
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  transform: scale(1);
  transition: 250ms;
}
.footer__box-link:hover, .footer__box-link:focus {
  transform: scale(1.1);
}
@media screen and (min-width: 728px) {
  .footer__box-link {
    width: 40px;
    height: 40px;
  }
}
.footer__box-img {
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 728px) {
  .footer__box-img {
    width: 40px;
    height: 40px;
  }
}
.footer__copywright {
  position: absolute;
  bottom: 0px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  color: rgba(246, 245, 239, 0.5);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.36px;
  z-index: -4;
}
@media screen and (max-width: 300px) {
  .footer__copywright {
    width: 100%;
  }
}
@media screen and (min-width: 728px) {
  .footer__copywright {
    font-size: 14px;
    letter-spacing: 0.42px;
  }
}/*# sourceMappingURL=main.css.map */