ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

h1, h2, h3, p {
  margin: 0;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 8px;
  outline: 1px solid rgb(255, 0, 0);
}
@media screen and (min-width: 355px) {
  .container {
    width: 355px;
  }
}
@media screen and (min-width: 736px) {
  .container {
    width: 736px;
  }
}
@media screen and (min-width: 1248px) {
  .container {
    width: 1248px;
  }
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 8px;
  outline: 1px solid rgb(255, 0, 0);
}
@media screen and (min-width: 355px) {
  .container {
    width: 355px;
  }
}
@media screen and (min-width: 736px) {
  .container {
    width: 736px;
  }
}
@media screen and (min-width: 1248px) {
  .container {
    width: 1248px;
  }
}

body {
  font-family: "DM Sans", sans-serif;
}

.header {
  padding-top: 27px;
  padding-bottom: 28px;
}
.header__logo {
  width: 18px;
  height: 18px;
}
.header__link {
  width: 146px;
  height: 10px;
}
.header__text {
  color: #F6F5EF;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 1.65;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.header__button {
  width: 24px;
  height: 24px;
}
.header__menu {
  width: 24px;
  height: 24px;
}

.hero {
  padding: 40px 0px 80px 0px;
}
@media screen and (min-width: 728px) {
  .hero {
    padding: 64px 0px 100px 0px;
  }
}
@media screen and (min-width: 1246px) {
  .hero {
    padding: 64px 0px 164px 0px;
  }
}
.hero .container {
  position: relative;
  z-index: 5;
}
.hero .container::before {
  content: "";
  position: absolute;
  top: 400px;
  left: 0px;
  width: 279px;
  height: 279px;
  border-radius: 279px;
  opacity: 0.6;
  background: #93ABAE;
  filter: blur(100px);
}
@media screen and (max-width: 361px) {
  .hero .container::before {
    width: 100%;
  }
}
@media screen and (min-width: 728px) {
  .hero .container::before {
    top: 480px;
    width: 414px;
    height: 414px;
    border-radius: 414px;
    opacity: 0.9;
  }
}
@media screen and (min-width: 1246px) {
  .hero .container::before {
    top: 150px;
  }
}
.hero .container::after {
  content: "";
  position: absolute;
  top: 400px;
  left: 0px;
  width: 279px;
  height: 279px;
  border-radius: 279px;
  opacity: 0.9;
  background: #93ABAE;
  filter: blur(100px);
  z-index: -3;
}
@media screen and (max-width: 361px) {
  .hero .container::after {
    width: 100%;
  }
}
@media screen and (min-width: 728px) {
  .hero .container::after {
    left: 50px;
    width: 316.907px;
    height: 316.908px;
    border-radius: 316.908px;
    opacity: 0.3;
  }
}
@media screen and (min-width: 1246px) {
  .hero .container::after {
    top: 150px;
    left: 150px;
    width: 316px;
    height: 316px;
    border-radius: 316px;
  }
}
.hero__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
@media screen and (min-width: 1246px) {
  .hero__items {
    flex-direction: row;
  }
}
.hero__item {
  position: relative;
}
.hero__items > .hero__item:nth-child(1) {
  padding: 0px 0px 0px 0px;
}
@media screen and (min-width: 1246px) {
  .hero__items > .hero__item:nth-child(1) {
    order: 2;
    padding: 68px 0px 0px 0px;
  }
}
.hero__title {
  width: 100%;
  color: #F6F5EF;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.62px;
}
@media screen and (min-width: 728px) {
  .hero__title {
    font-size: 60px;
    letter-spacing: -2.7px;
  }
}
@media screen and (min-width: 1246px) {
  .hero__title {
    width: 554px;
  }
}
.hero__title .hero__span {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
}
.hero__text {
  width: 100%;
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.28px;
  margin: 14px 0px 24px 0px;
}
@media screen and (min-width: 728px) {
  .hero__text {
    width: 539px;
    font-size: 16px;
    letter-spacing: -0.32px;
    margin: 16px 0px 32px 0px;
  }
}
.hero__items-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.hero__button {
  width: 100%;
  border: none;
  border-radius: 60px;
  background: #93ABAE;
  padding: 14px 28px;
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.63px;
  transition: 250ms;
}
@media screen and (min-width: 728px) {
  .hero__button {
    font-size: 18px;
    letter-spacing: -0.81px;
  }
}
.hero__button:hover, .hero__button:focus {
  outline: none;
}
.hero__items-btn > .hero__item-btn:nth-child(2) > .hero__button {
  outline: 1px solid #F6F5EF;
  background: transparent;
  transition: 250ms ease-in-out;
}
.hero__items-btn > .hero__item-btn:nth-child(2) > .hero__button:hover, .hero__items-btn > .hero__item-btn:nth-child(2) > .hero__button:focus {
  background: transparent;
  color: #93ABAE;
}
.hero__items > .hero__item:nth-child(2) {
  padding: 24px 24px 28px 24px;
  background-color: #A1B5BA;
  border-radius: 25px;
  border-bottom-right-radius: 0px;
  position: relative;
  margin: 0px 0px 19px 0px;
}
@media screen and (min-width: 728px) {
  .hero__items > .hero__item:nth-child(2) {
    padding: 32px 32px 38px 32px;
    width: 426px;
    margin: 0px 0px 25.7px 0px;
  }
}
@media screen and (min-width: 1246px) {
  .hero__items > .hero__item:nth-child(2) {
    order: 1;
  }
}
.hero__items > .hero__item:nth-child(2)::after {
  content: "";
  position: absolute;
  bottom: -4.57%;
  right: 0;
  width: 65%;
  height: 4.57%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.hero__clients {
  display: flex;
  position: relative;
}
.hero__client {
  z-index: 9;
}
.hero__clients > .hero__client:nth-child(2) {
  position: absolute;
  top: 0px;
  left: 41px;
  z-index: 8;
}
.hero__clients > .hero__client:nth-child(3) {
  position: absolute;
  top: 0px;
  left: 85px;
  z-index: 7;
}
.hero__icon-client {
  width: 48px;
  border-radius: 48px;
  outline: 2px solid #93ABAE;
}
@media screen and (min-width: 728px) {
  .hero__icon-client {
    width: 56px;
    border-radius: 56px;
  }
}
.hero__clients > .hero__client:nth-child(2) > .hero__icon-client {
  position: absolute;
  top: 0px;
  left: 60px;
}
.hero__clients > .hero__client:nth-child(3) > .hero__icon-client {
  position: absolute;
  top: 0px;
  left: 60px;
}
.hero__client-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin: 13px 0px 0px 0px;
}
@media screen and (min-width: 728px) {
  .hero__client-text {
    margin: 11px 0px 0px 0px;
  }
}
.hero__img {
  width: 100%;
  margin: 52px 0px 14px 0px;
}
@media screen and (min-width: 728px) {
  .hero__img {
    margin: 111px 0px 22px 0px;
  }
}
.hero__price {
  display: flex;
  gap: 14px;
  align-items: center;
}
@media screen and (max-width: 200px) {
  .hero__price {
    flex-wrap: wrap;
  }
}
.hero__price-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -2.16px;
  text-transform: uppercase;
}
@media screen and (min-width: 728px) {
  .hero__price-title {
    font-size: 60px;
    letter-spacing: -2.7px;
  }
}
.hero__price-text {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.63px;
}
@media screen and (min-width: 728px) {
  .hero__price-text {
    width: 208px;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -0.81px;
  }
}
.hero__img-man {
  border-radius: 24px;
  width: 133px;
  position: absolute;
  top: 35px;
  right: -12px;
}
@media screen and (min-width: 728px) {
  .hero__img-man {
    width: 233px;
    right: -146px;
  }
}
@media screen and (min-width: 1246px) {
  .hero__img-man {
    right: -112px;
  }
}

.adventures {
  padding-top: 80px;
  padding-bottom: 80px;
}
.adventures__text {
  font-family: "DM Sans";
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 2.88;
  letter-spacing: -1.08px;
  width: 335px;
}
.adventures__subtext {
  color: #F6F5EF;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.96;
  letter-spacing: -0.28px;
  width: 160px;
}
.adventures__kitchen {
  width: 335px;
  height: 524px;
}
.adventures__sofa {
  width: 335px;
  height: 289px;
}
.adventures__yacht {
  width: 260px;
  height: 244px;
}
.adventures__title {
  color: #F6F5EF;
  font-family: "DM Sans";
  font-size: 36px;
  font-weight: 500;
  line-height: 3.96;
  letter-spacing: -1.62px;
  width: 310px;
}
.adventures__button {
  padding: 14px 28px;
}

.card {
  padding-bottom: 164px;
}
.card .card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  justify-content: center;
  align-items: flex-end;
}
.card__item {
  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;
}
.card__diving {
  width: 335px;
  height: 335px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 736px) {
  .card__diving {
    width: 704px;
    height: 632px;
  }
}
@media screen and (min-width: 1248px) {
  .card__diving {
    width: 712px;
    height: 632px;
  }
}
.card__fishing {
  width: 335px;
  height: 335px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 736px) {
  .card__fishing {
    width: 400px;
    height: 389px;
  }
}
@media screen and (min-width: 1248px) {
  .card__fishing {
    width: 440px;
    height: 428px;
  }
}
.card__sunbathing {
  width: 335px;
  height: 335px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 736px) {
  .card__sunbathing {
    width: 380px;
    height: 352px;
  }
}
@media screen and (min-width: 1248px) {
  .card__sunbathing {
    width: 436px;
    height: 352px;
  }
}
.card__text {
  color: #11131F;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.81px;
}

@media screen and (min-width: 736px) and (max-width: 1248px) {
  .card__list {
    display: flex;
  }
  .card__item:nth-child(2) {
    margin-left: auto;
  }
  .card__item:nth-child(3) {
    margin-right: auto;
  }
}/*# sourceMappingURL=main.css.map */