<section class="card">
    <div class="container">
    <ul class="card__list">
        <li class="card__item">
            <picture>
             <source srcset="./img/desktop/diving-desktop@1x.webp 1x, ./img/desktop/diving-desktop@2x.webp 2x" media="(min-width: 1248px)">
             <source srcset="./img/tablet/diving-tablet@1x.webp 1x, ./img/tablet/diving-tablet@2x.webp 2x" media="(min-width: 736px)">
             <source srcset="./img/mobile/diving-mobile@1x.webp 1x, ./img/mobile/diving-mobile@2x.webp 2x" media="(max-width: 735px)">
                <img src="./img/desktop/diving-desktop@1x.webp" alt="diving" class="card__diving">
            </picture>
           <button class="card__btn" type="button">Diving</button>
        </li>
            <li class="card__item">
                <picture>
                    <source srcset="./img/desktop/fishing-desktop@1x.webp 1x, ./img/desktop/fishing-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/tablet/fishing-tablet@1x.webp 1x, ./img/tablet/fishing-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source srcset="./img/mobile/fishing-mobile@1x.webp 1x, ./img/mobile/fishing-mobile@2x.webp 2x" media="(max-width: 735px)">
                    <img src="./img/desktop/fishing-desktop@1x.webp" alt="fishing" class="card__fishing">
                </picture>
             <button class="card__btn" type="button">Fishing</button>
        </li>
            <li class="card__item">
         <picture>
            <source src="./img/desktop/sunbathing-desktop@1x.webp 1x, ./img/desktop/sunbathing-desktop@2x.webp 2x" media="(min-width: 1248px)">
            <source src="./img/tablet/sunbathing-tablet@1x.webp 1x, ./img/tablet/sunbathing-tablet@2x.webp 2x" media="(min-width: 736px)">
            <source src="./img/mobile/sunbathing-mobile@1x.webp 1x, ./img/mobile/sunbathing-mobile@2x.webp 2x" media="(max-width: 735px)">
            <img src="./img/desktop/sunbathing-desktop@1x.webp" alt="sunbathing" class="card__sunbathing">
         </picture>
             <button class="card__btn" type="button">Sunbathing</button>
        </li>
    </ul>
    </div>
</section>
