<section class="card">
    <div class="container">
    <ul class="card__list">
        <li class="card__item">
            <picture>
             <source srcset="../img/desktop/diving-desktop@1x.webp 1x, ../img/desktop/diving-desktop@2x.webp 2x" media="(min-width: 1248px)">
             <source srcset="../img/tablet/diving-tablet@1x.webp 1x, ../img/tablet/diving-tablet@2x.webp 2x" media="(min-width: 736px)">
             <source srcset="../img/mobile/diving-mobile@1x.webp 1x, ../img/mobile/diving-mobile@2x.webp 2x" media="(max-width: 735px)">
                <img src="../img/desktop/diving-desktop@1x.webp" alt="diving" class="card__img">
            </picture>
            <p class="card__text">Diving</p>
        </li>
            <li class="card__item">
                <picture>
                    <source src="../img/desktop/fishing-desktop@1x.webp 1x, ../img/desktop/fishing-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source src="../img/tablet/fishing-tablet@1x.webp 1x, ../img/tablet/fishing-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <!-- <source src="../img/mob"> -->
                     
                </picture>
            <p class="card__text">Fishing</p>
        </li>
            <li class="card__item">
            <p class="card__text">Sunbathing</p>
        </li>
    </ul>
    </div>
</section>
