<section class="card">
    <div class="container">
        <div class="img"></div>
        <ul class="img__list">
            <li class="img__item">
                <img src="" alt="" class="img__path">
                <button type="button">Diving</button>
            </li>
              <li class="img__item">
                <img src="" alt="" class="img__path">
                <button type="button">Fishing</button>
            </li>
              <li class="img__item">
                <img src="" alt="" class="img__path">
                <button type="button">Sunbathing</button>
            </li>
        </ul>
    <div class="yacht">
            <h2 class="yacht__title">Rent a yacht now</h2>
            <form>
                <input type="text" placeholder="Full Name">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Phone number">
                <input type="text" placeholder="Comment">
                <button type="submit">Send</button>
            </form>
    </div>
     </div>
</section>