<section class="header">
   <ul class="header__groupe">
      <li class="header__element">
         <a href="./header.html" class="header__icon">
            <svg class="header__logo">
               <use href="../img/symbol-defs.svg#icon-yacht"></use>
            </svg>
         </a>
      </li>
      <li class="header__element">
         <a href="./header.html" class="header__link">
            <svg class="header__text">
               <use href="../img/symbol-defs.svg#icon-yacht-logo"></use>
            </svg>
         </a>
      </li>
   </ul>
   <ul class="header__list">
      <li class="header__item"><a href="#" class="header__text">About</a></li>
      <li class="header__item"><a href="#" class="header__text">Yachts</a></li>
      <li class="header__item"><a href="#" class="header__text">Reviews</a></li>
   </ul>

   <button type="button" class="header__button">
      <svg class="header__menu">
         <use href="../img/symbol-defs.svg#icon-menu"></use>
      </svg>
   </button>
</section>