<section class="hero">
    <div class="container">
        <ul class="hero__items">
            <li class="hero__item">
                <h2 class="hero__title">Explore the High Seas with <span class="hero__span">Our Luxury Yacht</span>
                    Rentals</h2>
                <p class="hero__text">Experience the freedom and luxury of yachting on the open seas. Choose from our
                    top-of-the-line yachts and embark on an unforgettable journey surrounded by breathtaking views and
                    state-of-the-art amenities.</p>
                <ul class="hero__items-btn">
                    <li class="hero__item-btn">
                        <button class="hero__button">Get Started</button>
                    </li>
                    <li class="hero__item-btn">
                        <button class="hero__button">Explore</button>
                    </li>
                </ul>
            </li>
            <li class="hero__item">
                <ul class="hero__clients">
                    <li class="hero__client">
                        <picture>
                            <source srcset="./img/desktop/john-desktop@1x.webp 1x, ./img/desktop/john-desktop@2x.webp 2x" media="(min-width: 1246px)">
                            <source srcset="./img/tablet/john-tablet@1x.webp 1x, ./img/tablet/john-tablet@2x.webp 2x" media="(min-width: 728px)">
                            <source srcset="./img/mobile/john-mobile@1x.webp 1x, ./img/mobile/john-mobile@2x.webp 2x" media="(max-width: 727px)">
                            <img src="./img/john.png" alt="man with black hair" class="hero__icon-client">
                        </picture>
                    </li>
                    <li class="hero__client">
                        <picture>
                            <source srcset="./img/desktop/victoria-desktop@1x.webp 1x, ./img/desktop/victoria-desktop@2x.webp 2x" media="(min-width: 1246px)">
                            <source srcset="./img/tablet/viktoria-tablet@1x.webp 1x, ./img/tablet/viktoria-tablet@2x.webp 2x" media="(min-width: 728px)">
                            <source srcset="./img/mobile/victoria-mobile@1x.webp 1x, ./img/mobile/victoria-mobile@2x.webp 2x" media="(max-width: 727px)">
                            <img src="./img/victoria.png" alt="woman with black hair" class="hero__icon-client">
                        </picture>
                    </li>
                    <li class="hero__client">
                        <picture>
                            <source srcset="./img/desktop/igor-desktop@1x.webp 1x, ./img/desktop/igor-desktop@2x.webp 2x" media="(min-width: 1246px)">
                            <source srcset="./img/desktop/igor-desktop@1x.webp 1x, ./img/desktop/igor-desktop@2x.webp 2x" media="(min-width: 728px)" >
                            <source srcset="./img/mobile/igor-mobile@1x.webp 1x, ./img/mobile/igor-mobile@2x.webp 2x" media="(max-width: 727px)">
                            <img src="./img/igor.png" alt="man with orange hair" class="hero__icon-client">
                        </picture>
                    </li>
                </ul>
                <p class="hero__client-text">Our Clients</p>
                <picture>
                    <source srcset="./img/desktop/cardyacht-desktop@1x.webp 1x, ./img/desktop/cardyacht-desktop@2x.webp 2x" media="(min-width: 1246px)">
                    <source srcset="./img/tablet/cardyacht-tablet@1x.webp 1x, ./img/tablet/cardyacht-tablet@2x.webp 2x" media="(min-width: 728px)">
                    <source srcset="./img/mobile/cardyacht-mobile@1x.webp 1x, ./img/mobile/cardyacht-mobile@2x.webp 2x" media="(max-width: 727px)">
                    <img src="./img/cardyacht.png" alt="yacht" class="hero__img">
                </picture>
                <div class="hero__price">
                    <h2 class="hero__price-title">$12M</h2>
                    <p class="hero__price-text">Book now and make your dream yacht rental a reality</p>
                </div>
                <picture>

                    <source srcset="./img/desktop/bigboy-desktop@1x.webp 1x, ./img/desktop/bigboy-desktop@2x.webp 2x" media="(min-width: 1246px)">
                    <source srcset="./img/tablet/bigboy-tablet@1x.webp 1x, ./img/tablet/bigboy-tablet@2x.webp 2x" media="(min-width: 728px)">
                    <source srcset="./img/mobile/bigboy-mobile@1x.webp 1x, ./img/mobile/bigboy-mobile@2x.webp 2x" media="(max-width: 727px)">
                    <img src="./img/bigboy.png" alt="man with glasses" class="hero__img-man">
                </picture>
            </li>
        </ul>
    </div>
</section>