<section class="team">
  <div class="container">
    <ul class="team__info">
      <li class="team__info__item">
        <h2 class="team__info__title">
          <span class="team__info__span">Yacht Adventures</span> take pride in
          providing the best possible service and experience to our customers
        </h2>
      </li>
      <li class="team__info__item">
        <p class="team__info__subtitle">
          Our customers have enjoyed unforgettable moments on our yachts. Don't
          just take our word for it - read on to find out what they have to say
          about their journey with us.
        </p>
      </li>
    </ul>
    <ul class="team__list">
      <li class="team__item">
        <picture>
          <source srcset="./img/desktop/john-desktop@1x.webp 1x, ./img/desktop/john-desktop@2x.webp 2x" media="(min-width: 1246px)">
          <source srcset="./img/tablet/john-tablet@1x.webp 1x, ./img/tablet/john-tablet@2x.webp 2x" media="(min-width: 728px)">
          <source srcset="./img/mobile/john-mobile@1x.webp 1x, ./img/mobile/john-mobile@2x.webp 2x" media="(max-width: 727px)">
          <img src="./img/john.png" alt="John" class="team__img" />
        </picture>
        <h2 class="team__title">John Wax</h2>
        <p class="team__text">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="./img/desktop/victoria-desktop@1x.webp 1x, ./img/desktop/victoria-desktop@2x.webp 2x" media="(min-width: 1246px)">
          <source srcset="./img/tablet/viktoria-tablet@1x.webp 1x, ./img/tablet/viktoria-tablet@2x.webp 2x" media="(min-width: 728px)">
          <source srcset="./img/mobile/victoria-mobile@1x.webp 1x, ./img/mobile/victoria-mobile@2x.webp 2x" media="(max-width: 727px)">
          <img src="./img/victoria.png alt=" alt="Victoria" class="team__img" />
        </picture>
        <h2 class="team__title">Victoria Romashenko</h2>
        <p class="team__text">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="./img/desktop/ihor-desktop@1x.webp 1x, ./img/desktop/ihor-desktop@2x.webp 2x" media="(min-width: 1246px)">
          <source srcset="./img/tablet/ihor-tablet@1x.webp 1x, ./img/tablet/ihor-tablet@2x.webp 2x" media="(min-width: 728px)">
          <source srcset="./img/mobile/ihor-mobile@1x.webp 1x, ./img/mobile/ihor-mobile@2x.webp 2x" media="(max-width: 727px)">
          <img src="./img/igor.png" alt="Ihor" class="team__img" />
        </picture>
        <h2 class="team__title">Ihor Trachuk</h2>
        <p class="team__text">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
    </ul>
  </div>
</section>