<section class="team">
    <div class="container">
    <div class="team__card">
  <img src="" alt="John Wax">
  <h3 class="team__name">John Wax</h3>
  <p class="team__text">
    I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever.
    The yacht was spacious, comfortable, and luxurious, and the crew took care of everything.
  </p>
</div>
 <div class="team__card">
  <img src="" alt="John Wax">
  <h3 class="team__name">John Wax</h3>
  <p class="team__text">
    I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever.
    The yacht was spacious, comfortable, and luxurious, and the crew took care of everything.
  </p>
</div>
 <div class="team__card">
  <img src="" alt="John Wax">
  <h3 class="team__name">John Wax</h3>
  <p class="team__text">
    I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever.
    The yacht was spacious, comfortable, and luxurious, and the crew took care of everything.
  </p>
</div>
</div>
</section>