<section class="boat">
    <div class="container">
        <ul class="boat__list">
            <li class="boat__item">
                <picture>
                    <source srcset="./img/desktop/card1-desktop@1x.webp 1x, ./img/desktop/card1-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/tablet/card1-tablet@1x.webp 1x, ./img/tablet/card1-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source srcset="./img/mobile/card1-mobile@1x.webp 1x, ./img/mobile/card1-mobile@2x.webp 2x" media="(max-width: 735px)">
                    <img src="./img/desktop/card1-desktop@1x.webp" alt="Arrow" class="boat__img">
                </picture>
                <div class="boat__box">
                <h1 class="boat__title">Arrow</h1>
                 <p class="boat__text">LUXURY YAHTS</p>
                 </div>
                 <div class="boat__info">
                   <p class="info__text"><span class="info__span">LENGTH</span>48m(155ft) </p>
                    <p class="info__text"><span class="info__span">BUILDER</span>Admiral</p>
                     <p class="info__text"><span class="info__span">BUILT</span>2021</p>
                      <p class="info__text"><span class="info__span">GUESTS</span>11 in 5 cabins</p>
                       <p class="info__text"><span class="info__span">PRICE</span>€33,500,000</p>
                 </div>
            </li>
                 <li class="boat__item">
                <picture>
                    <source srcset="./img/desktop/card2-desktop@1x.webp 1x, ./img/desktop/card2-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/tablet/card2-tablet@1x.webp 1x, ./img/tablet/card2-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source srcset="./img/mobile/card2-mobile@1x.webp 1x, ./img/mobile/card2-mobile@2x.webp 2x" media="(max-width: 735px)">
                    <img src="./img/desktop/card2-desktop@1x.webp" alt="BENETTI OASIS 40M BO122" class="boat__img">
                </picture>
                <div class="boat__box">
                <h2 class="boat__title">BENETTI OASIS 40M...</h2>
                 <p class="boat__text">LUXURY YAHTS</p>
                 </div>
                 <div class="boat__info">
                   <p class="info__text"><span class="info__span">LENGTH</span>41m (133ft)</p>
                    <p class="info__text"><span class="info__span">SHIPYARD</span>Benetti</p>
                     <p class="info__text"><span class="info__span">BUILT</span>2025</p>
                      <p class="info__text"><span class="info__span">GUESTS</span>10 in 5 cabins</p>
                       <p class="info__text"><span class="info__span">PRICE</span>€23,210,000</p>
                 </div>
            </li>
                 <li class="boat__item">
                <picture>
                    <source srcset="./img/desktop/card3-desktop@1x.webp 1x, ./img/desktop/card3-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/tablet/card3-tablet@1x.webp 1x, ./img/tablet/card3-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source src="./img/mobile/card3-mobile@1x.webp 1x, ./img/mobile/card3-mobile@2x.webp 2x" media="(min-width: 736px)">
                    <img src="./img/desktop/card3-desktop@1x.webp" alt="BELLE ANNA" class="boat__img">
                </picture>
                  <div class="boat__box">
                <h2 class="boat__title">BELLE ANNA</h2>
                 <p class="boat__text">LUXURY YAHTS</p>
                 </div>
                 <div class="boat__info">
                   <p class="info__text"><span class="info__span">LENGTH</span>50m(155ft)</p>
                    <p class="info__text"><span class="info__span">SHIPYARD</span>ISA</p>
                     <p class="info__text"><span class="info__span">BUILT</span>2012</p>
                      <p class="info__text"><span class="info__span">GUESTS</span>12 in 6 cabins</p>
                       <p class="info__text"><span class="info__span">PRICE</span>€21,000,000</p>
                 </div>
            </li>
                 <li class="boat__item">
                <picture>
                    <source srcset="./img/desktop/card4-desktop@1x.webp 1x, ./img/desktop/card4-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/tablet/card4-tablet@1x.webp 1x, ./img/tablet/card4-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source srcset="./img/mobile/card4-mobile@1x.webp 1x, ./img/mobile/card4-mobile@2x.webp 2x" media="(max-width: 735px)">
                    <img src="./img/desktop/card4-desktop@1x.webp" alt="Ellen" class="boat__img">
                </picture>
                <div class="boat__box">
                <h2 class="boat__title">Ellen</h2>
                 <p class="boat__text">LUXURY YAHTS</p>
                 </div>
                 <div class="boat__info">
                <p class="info__text"><span class="info__span">LENGTH</span>40m (132ft)</p>
                    <p class="info__text"><span class="info__span">SHIPYARD</span>Perini Navi</p>
                     <p class="info__text"><span class="info__span">BUILT</span>2001 / 2016 (refitted)</p>
                      <p class="info__text"><span class="info__span">GUESTS</span>9 in 4 cabins</p>
                       <p class="info__text"><span class="info__span">PRICE</span>€9,300,000</p>
                 </div>
            </li>
                 <li class="boat__item">
                <picture>
                    <source srcset="./img/desktop/card5-desktop@1x.webp 1x, ./img/desktop/card5-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/tablet/card5-tablet@1x.webp 1x, ./img/tablet/card5-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source srcset="./img/mobile/card5-mobile@1x.webp 1x, ./img/mobile/card5-mobile@2x.webp 2x" media="(max-width: 735px)">
                    <img src="./img/desktop/card5-desktop@1x.webp" alt="MIRAGE 401" class="boat__img">
                </picture>
                  <div class="boat__box">
                <h2 class="boat__title">MIRAGE 401</h2>
                 <p class="boat__text">LUXURY YAHTS</p>
                 </div>
                 <div class="boat__info">
                <p class="info__text"><span class="info__span">LENGTH</span>38m (125ft)</p>
                    <p class="info__text"><span class="info__span">SHIPYARD</span>Gianetti Custom Yachts</p>
                     <p class="info__text"><span class="info__span">BUILT</span>2024</p>
                      <p class="info__text"><span class="info__span">GUESTS</span>10 in 5 cabins</p>
                       <p class="info__text"><span class="info__span">PRICE</span>€13,500,000</p>
                 </div>
            </li>
                 <li class="boat__item">
                <picture>
                    <source srcset="./img/desktop/card6-desktop@1x.webp 1x, ./img/desktop/card6-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/tablet/card6-tablet@1x.webp 1x, ./img/tablet/card6-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source srcset="./img/mobile/card6-mobile@1x.webp 1x, ./img/mobile/card6-mobile@2x.webp 2x" media="(max-width: 735px)">
                    <img src="./img/desktop/card6-desktop@1x.webp" alt="KING" class="boat__img">
                </picture>
                 <div class="boat__box">
                <h2 class="boat__title">KING</h2>
                 <p class="boat__text">LUXURY YAHTS</p>
                 </div>
                 <div class="boat__info">
                  <p class="info__text"><span class="info__span">LENGTH</span>33m (109ft)</p>
                    <p class="info__text"><span class="info__span">SHIPYARD</span>Overmarine</p>
                     <p class="info__text"><span class="info__span">BUILT</span>2004 / 2018 (refitted)</p>
                      <p class="info__text"><span class="info__span">GUESTS</span>9 in 4 cabins</p>
                       <p class="info__text"><span class="info__span">PRICE</span>€1,850,000</p>
                 </div>
            </li>
                 <li class="boat__item">
                <picture>
                    <source srcset="./img/desktop/card7-desktop@1x.webp 1x, ./img/desktop/card7-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/tablet/card7-tablet@1x.webp 1x, ./img/tablet/card7-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source srcset="./img/tablet/card7-tablet@1x.webp 1x, ./img/tablet/card7-tablet@2x.webp 2x" media="(max-width: 735px)"> 
                    <img src="./img/desktop/card7-desktop@1x.webp" alt="" class="boat__img">
                </picture>
                 <div class="boat__box">
                <h2 class="boat__title">SALT</h2>
                 <p class="boat__text">LUXURY YAHTS</p>
                 </div>
                 <div class="boat__info">
             <p class="info__text"><span class="info__span">LENGTH</span>32m (105ft)</p>
                    <p class="info__text"><span class="info__span">BUILDER</span>SanLorenzo</p>
                     <p class="info__text"><span class="info__span">BUILT</span>2019</p>
                      <p class="info__text"><span class="info__span">GUESTS</span>11 in 5 cabins</p>
                       <p class="info__text"><span class="info__span">PRICE</span>€7,800,000</p>
                 </div>
            </li>
                 <li class="boat__item">
                <picture>
                    <source srcset="./img/desktop/card8-desktop@1x.webp 1x, ./img/desktop/card8-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/tablet/card8-tablet@1x.webp 1x, ./img/tablet/card8-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source srcset="./img/mobile/card8-mobile@1x.webp 1x, ./img/mobile/card8-mobile@2x.webp 2x" media="(max-width: 735px)">
                    <img src="./img/desktop/card8-desktop@1x.webp" alt="STORM" class="boat__img">
                </picture>
                <div class="boat__box">
                <h2 class="boat__title">STORM</h2>
                 <p class="boat__text">LUXURY YAHTS</p>
                 </div>
                 <div class="boat__info">
                <p class="info__text"><span class="info__span">LENGTH</span>32m (103ft)</p>
                    <p class="info__text"><span class="info__span">SHIPYARD</span>Overmarine</p>
                     <p class="info__text"><span class="info__span">BUILT</span>2005 / 2022 (refitted)</p>
                      <p class="info__text"><span class="info__span">GUESTS</span>9 in 4 cabins</p>
                       <p class="info__text"><span class="info__span">PRICE</span>€2,900,000</p>
                 </div>
            </li>
                 <li class="boat__item">
                <picture>
                    <source srcset="./img/desktop/card9-desktop@1x.webp 1x, ./img/desktop/card9-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/tablet/card9-tablet@1x.webp 1x, ./img/tablet/card9-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source srcset="./img/mobile/card9-mobile@1x.webp 1x, ./img/mobile/card9-mobile@2x.webp 2x" media="(max-width: 735px)">
                    <img src="./img/desktop/card9-desktop@1x.webp" alt="COLLU" class="boat__img">
                </picture>
                 <div class="boat__box">
                <h2 class="boat__title">COLLU</h2>
                 <p class="boat__text">LUXURY YAHTS</p>
                 </div>
                 <div class="boat__info">
                <p class="info__text"><span class="info__span">LENGTH</span>29m (96ft)</p>
                    <p class="info__text"><span class="info__span">SHIPYARD</span>Ferretti</p>
                     <p class="info__text"><span class="info__span">BUILT</span>2014</p>
                      <p class="info__text"><span class="info__span">GUESTS</span>10 in 5 cabins</p>
                       <p class="info__text"><span class="info__span">PRICE</span>$4,300,000</p>
                 </div>
            </li>
        </ul>
    </div>
</section>