<section class="boat">
    <div class="container">
        <ul class="boat__list">
            <li class="boat__item">
                <picture>
                    <source>
                    <source>
                    <source>
                    <img src="../img/desktop/card1-desktop@1x.webp" alt="Arrow" class="boat__img">
                </picture>
                <h1 class="boat__title">Arrow</h1>
                 <p class="boat__text">LUXURY YAHTS</p>
                 <div class="boat__info">
                   <p class="info__text"><span class="info__span">LENGTH</span>48m(155ft) </p>
                    <p class="info__text"><span class="info__span">BUILDER</span>Admiral</p>
                     <p class="info__text"><span class="info__span">BUILT</span>2021</p>
                      <p class="info__text"><span class="info__span">GUESTS</span>11 in 5 cabins</p>
                       <p class="info__text"><span class="info__span">PRICE</span>€33,500,000</p>
                 </div>
            </li>
                 <li class="boat__item">
                <picture>
                    <source>
                    <source>
                    <source>
                    <img src="" alt="" class="boat__img">
                </picture>
                <h2 class="boat__title">BENETTI OASIS 40M...</h2>
                 <p class="boat__text">LUXURY YAHTS</p>
                 <div class="boat__info">
                   <p class="info__text"><span class="info__span">LENGTH</span>41m (133ft)</p>
                    <p class="info__text"><span class="info__span">SHIPYARD</span>Benetti</p>
                     <p class="info__text"><span class="info__span">BUILT</span>2025</p>
                      <p class="info__text"><span class="info__span">GUESTS</span>10 in 5 cabins</p>
                       <p class="info__text"><span class="info__span">PRICE</span>€23,210,000</p>
                 </div>
            </li>
                 <li class="boat__item">
                <picture>
                    <source>
                    <source>
                    <source>
                    <img src="" alt="" class="boat__img">
                </picture>
                <h2 class="boat__title">BELLE ANNA</h2>
                 <p class="boat__text">LUXURY YAHTS</p>
                 <div class="boat__info">
                   <p class="info__text"><span class="info__span">LENGTH</span>50m(155ft) </p>
                    <p class="info__text"><span class="info__span">SHIPYARD</span>ISA</p>
                     <p class="info__text"><span class="info__span">BUILT</span>2012</p>
                      <p class="info__text"><span class="info__span">GUESTS</span>12 in 6 cabins</p>
                       <p class="info__text"><span class="info__span">PRICE</span>€21,000,000</p>
                 </div>
            </li>
                 <li class="boat__item">
                <picture>
                    <source>
                    <source>
                    <source>
                    <img src="" alt="" class="boat__img">
                </picture>
                <h2 class="boat__title">Ellen</h2>
                 <p class="boat__text">LUXURY YAHTS</p>
                 <div class="boat__info">
                <p class="info__text"><span class="info__span">LENGTH</span>40m (132ft)</p>
                    <p class="info__text"><span class="info__span">SHIPYARD</span>Perini Navi</p>
                     <p class="info__text"><span class="info__span">BUILT</span>2001 / 2016 (refitted)</p>
                      <p class="info__text"><span class="info__span">GUESTS</span>9 in 4 cabins</p>
                       <p class="info__text"><span class="info__span">PRICE</span>€9,300,000</p>
                 </div>
            </li>
                 <li class="boat__item">
                <picture>
                    <source>
                    <source>
                    <source>
                    <img src="" alt="" class="boat__img">
                </picture>
                <h2 class="boat__title">MIRAGE 401</h2>
                 <p class="boat__text">LUXURY YAHTS</p>
                 <div class="boat__info">
                <p class="info__text"><span class="info__span">LENGTH</span>38m (125ft)</p>
                    <p class="info__text"><span class="info__span">SHIPYARD</span>Gianetti Custom Yachts</p>
                     <p class="info__text"><span class="info__span">BUILT</span>2024</p>
                      <p class="info__text"><span class="info__span">GUESTS</span>10 in 5 cabins</p>
                       <p class="info__text"><span class="info__span">PRICE</span>€13,500,000</p>
                 </div>
            </li>
                 <li class="boat__item">
                <picture>
                    <source>
                    <source>
                    <source>
                    <img src="" alt="" class="boat__img">
                </picture>
                <h2 class="boat__title">Arrow</h2>
                 <p class="boat__text">LUXURY YAHTS</p>
                 <div class="boat__info">
                  <p class="info__text"><span class="info__span">LENGTH</span></p>
                    <p class="info__text"><span class="info__span">SHIPYARD</span></p>
                     <p class="info__text"><span class="info__span">BUILT</span></p>
                      <p class="info__text"><span class="info__span">GUESTS</span></p>
                       <p class="info__text"><span class="info__span">PRICE</span></p>
                 </div>
            </li>
                 <li class="boat__item">
                <picture>
                    <source>
                    <source>
                    <source>
                    <img src="" alt="" class="boat__img">
                </picture>
                <h2 class="boat__title">Arrow</h2>
                 <p class="boat__text">LUXURY YAHTS</p>
                 <div class="boat__info">
             <p class="info__text"><span class="info__span">LENGTH</span></p>
                    <p class="info__text"><span class="info__span">SHIPYARD</span></p>
                     <p class="info__text"><span class="info__span">BUILT</span></p>
                      <p class="info__text"><span class="info__span">GUESTS</span></p>
                       <p class="info__text"><span class="info__span">PRICE</span></p>
                 </div>
            </li>
                 <li class="boat__item">
                <picture>
                    <source>
                    <source>
                    <source>
                    <img src="" alt="" class="boat__img">
                </picture>
                <h2 class="boat__title">Arrow</h2>
                 <p class="boat__text">LUXURY YAHTS</p>
                 <div class="boat__info">
                <p class="info__text"><span class="info__span">LENGTH</span></p>
                    <p class="info__text"><span class="info__span">SHIPYARD</span></p>
                     <p class="info__text"><span class="info__span">BUILT</span></p>
                      <p class="info__text"><span class="info__span">GUESTS</span></p>
                       <p class="info__text"><span class="info__span">PRICE</span></p>
                 </div>
            </li>
                 <li class="boat__item">
                <picture>
                    <source>
                    <source>
                    <source>
                    <img src="" alt="" class="boat__img">
                </picture>
                <h2 class="boat__title">Arrow</h2>
                 <p class="boat__text">LUXURY YAHTS</p>
                 <div class="boat__info">
                <p class="info__text"><span class="info__span">LENGTH</span></p>
                    <p class="info__text"><span class="info__span">SHIPYARD</span></p>
                     <p class="info__text"><span class="info__span">BUILT</span></p>
                      <p class="info__text"><span class="info__span">GUESTS</span></p>
                       <p class="info__text"><span class="info__span">PRICE</span></p>
                 </div>
            </li>
        </ul>
    </div>
</section>