<section class="yacht">
    <div class="container">
        <div class="yacht__content">
            <div class="yacht__left">
                <h2 class="yacht__title">Rent a yacht now</h2>
                <picture class="yacht__picture">
                    <source srcset="../img/desktop/rentyacht-desktop@1x.webp 1x, ../img/desktop/rentyacht-desktop@2x.webp 2x">
                    <source srcset="../img/tablet/rentyacht-tablet@1x.webp 1x, ../img/tablet/rentyacht-tablet@2x.webp 2x">
                    <source srcset="../img/mobile/rentyacht-mobile@1x.webp 1x, ../img/mobile/rentyacht-mobile@2x.webp 2x">
                    <img src="../img/desktop/rentyacht-desktop@1x.webp" alt="yacht-now" class="yacht__img">
                </picture>
            </div>
            
            <div class="yacht__right">
                <form class="yacht__form">
                    <ul class="yacht__list">
                        <li class="yacht__item">
                            <input class="yacht__input" type="text" id="fullName" name="fullName" placeholder="Full Name" required>
                        </li>
                        <li class="yacht__item">
                            <input class="yacht__input" type="email" id="email" name="email" placeholder="Email" required>
                        </li>
                        <li class="yacht__item">
                            <input class="yacht__input" type="tel" id="phone" name="phone" placeholder="Phone number" required>
                        </li>
                        <li class="yacht__item">
                            <textarea class="yacht__input yacht__textarea" id="comment" name="comment" placeholder="Comment"></textarea>
                        </li>
                    </ul>
                    <button class="yacht__btn" type="submit">Send →</button>
                </form>
            </div>
        </div>
    </div>
</section>